@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
  --public-sans: 'Public Sans', sans-serif;
  --primary-one: hsl(136, 65%, 51%);
  --primary-two: hsl(192, 70%, 51%);
  --footer-color: hsl(233, 26%, 24%);
  --text-body: hsl(233, 8%, 62%);
  --px-sm: 1.25rem;
  --px-md: 5rem;
  --px-lg: 8.75rem;
}
